<ion-view view-title="Your Parking Bill">
   <ion-content style="background-color : #FAFAFA">
        <div class="card" style="height: 11.5em; border-radius: 13px; margin: 0px;">
            <div class="item item-text-wrap" style="text-align : center; padding-top: 2em;">
			   <div style="padding-bottom: 1.7em; color : green;">Your payable bill is</div>
               <span style="font-size: 3em; margin-left: -5vw;">₹</span><span style="font-size: 5em; font-weight : 500;">30</span>
           </div>
        </div>
		
		<div style="margin : 2em;">
		    <table>
			   <tr>
			       <td style="float : left;">Parking Start Time</td>
				   <td style="float : right;">11:00 AM</td>
			   </tr>
			</table>
		</div>
   </ion-content>
</ion-view>