<ion-view view-title="Your Booking History">
   <ion-content>
       <div class="list card">
			  <div class="item item-avatar">
				<img src="img/greencar.png">
				<h2>Wednesday, 12th July, 2017</h2>
				<p>Webel More Parking Slot</p>
			  </div>

			  <div class="item item-body">
						<p style="font-weight : 500; font-size : 16px;">Booking ID : KA14567V3</p>
						<ul>
						   <li><span style="font-weight : 500;">Booking Start Time :</span> 9:35 AM</li>
						   <li><span style="font-weight : 500;">Booking End Time :</span> 12:45 PM</li>
						   <li><span style="font-weight : 500;">Booking Span :</span> 3.10 Hours</li>
						   <li style="margin-top : 2vw;"><span style="font-weight : 500;">Charge :</span> <span style="font-size: 5vw; font-weight: 500; color: brown;">₹ 80</span></li>
						</ul>
						
						<div style="float : right;">Status : <span style="font-size : 20px; color : green;">COMPLETED</span></div>
			 </div>
       </div>
	   
	   <div class="list card">
			  <div class="item item-avatar">
				<img src="img/redcar.png">
				<h2>Monday, 10th July, 2017</h2>
				<p>RDB Cinemas Parking Slot</p>
			  </div>

			  <div class="item item-body">
						<p style="font-weight : 500; font-size : 16px;">Booking ID : KA154321</p>
						<ul>
						   <li><span style="font-weight : 500;">Booking Start Time :</span> 8:00 PM</li>
						   <li><span style="font-weight : 500;">Booking End Time :</span> --:-- PM</li>
						   <li><span style="font-weight : 500;">Booking Span :</span> --.-- Hours</li>
						   <li style="margin-top : 2vw;"><span style="font-weight : 500;">Charge :</span> <span style="font-size: 5vw; font-weight: 500; color: brown;">₹ 0</span></li>
						</ul>
						
						<div style="float : right;">Status : <span style="font-size : 20px; color : #FF0000;">CANCELLED</span></div>
			 </div>
       </div>
   </ion-content>
</ion-view>