<ion-view view-title="Your Booking History">
   <ion-content style="background-image : url('img/mbg.jpg'); background-repeat: round;">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
      <div class="card" ng-hide="bookingHistory.length">
			  <div class="item item-divider" style="text-align : center;">
				 Oops! Nothing to show here
			  </div>
			  <div class="item item-text-wrap" style="text-align : center;">
				Well apparently, you do not have any Bookings till date with ePark. All your present and past bookings are meant to be shown here. It's ok, start booking and enjoy a hassle free parking experience.
			  </div>
		 </div>

       <div class="list card" ng-repeat="booking in bookingHistory">
			  <div class="item item-avatar" style="background-color: darkslategray;">
				<img src="img/history.png">
				<h2 style="color : white;">{{booking.formatDate}}</h2>
				<p style="font-size : 15px; color : white;">{{booking.parking_id.name}}</p>

			  </div>

			  <div class="item item-body">
						<p style="font-weight : 500; font-size : 16px;">Booking ID : {{booking._id}}</p>
						<ul>
						   <li><span style="font-weight : 500;">Booking Start Time :</span> <!--{{booking.start_time <= 12 ? booking.start_time : booking.start_time - 12}} {{booking.start_time <= 12 ? 'AM' : 'PM'}}--> {{booking.start_time}}</li>
						   <li ng-hide="booking.active"><span style="font-weight : 500;">Booking End Time :</span> <!--{{booking.start_time+booking.hours <= 12 ? booking.start_time+booking.hours : booking.start_time++booking.hours - 12}} {{booking.start_time+booking.hours <= 12 ? 'AM' : 'PM'}}-->{{booking.end_time}}</li>
						   <li ng-hide="booking.active"><span style="font-weight : 500;">Booking Span :</span><!--{{booking.hours}}--> {{booking.duration}}</li>
						   <li ng-hide="booking.active" style="margin-top : 2vw;"><span style="font-weight : 500;">Charge :</span> <span style="font-size: 5vw; font-weight: 500; color: brown;">₹ <!--{{booking.parking_id.hourly_price * booking.hours}}-->{{booking.fare}}</span></li>
						   <!--<li ng-if="booking.status == 'pending'" style="margin-top : 2vw;"><span style="font-weight : 500;">Your OTP :</span> <span style="font-size: 5vw; font-weight: 500; color: green;">{{booking.otp.value}}</span></li>-->
						   <li ng-if="booking.status == 'Booked'" style="margin-top : 2vw; float : right;"><span style="font-size: 4vw; font-weight: 500; color: green;">ON-GOING BOOKING</span></li>
						</ul>

						<!--<div style="float : right;">Status : <span style="font-size : 20px; color : green;">{{booking.status}}</span></div>-->
						<img ng-if="booking.status == 'pending'" src="img/pending.png" style="float : right; width: 28%; margin-top: -10vw;"/>
						<img ng-if="booking.status == 'completed'" src="img/completed.png" style="float : right; width: 32%; margin-top: -14vw;"/>
						<img ng-if="booking.status == 'cancelled'" src="img/cancel.png" style="float : right; width: 28%; margin-top: -6vw;"/>
						<img ng-if="booking.status == 'booked'" src="img/booked.png" style="float : right; width: 31%; margin-top: -24vw;"/>

						<!--
						<div ng-if="booking.status == 'Booked'" style="text-align : center; margin-top: 6vw;">
						     <button class="button button-medium button-calm" ng-click="cancelBooking(booking._id);">
							     <i class="icon ion-close-circled" style="margin-right : 5px;"></i>CANCEL BOOKING
							 </button>
						</div> -->

                        <div ng-if="booking.status == 'completed'">
						     <h3 ng-click="activateFeedback();">Any feedback to give us? Tap here</h3>
							 <div ng-if="showFeedbackFlag == 'Y'">
							     <textarea ng-model="" style="background-color: #FAFAFA; border: 1px solid grey; width: 100%; height: 16vw; max-height: 16vw; overflow-y: auto;"></textarea>
							     <div style="margin-top: 4vw; float: right;">
								    <button style="margin-right: 2vw;" class="button button-medium button-calm" ng-click="submitFeedback(booking._id)">SUBMIT</button>
									<button class="button button-medium button-stable" ng-click="closeFeedback();">CANCEL</button>
								 </div>
							 </div>
                        </div>						
			 </div>
       </div>

   </ion-content>
</ion-view>
