<ion-view view-title="Your Booking History">
   <ion-content>
       
         <div class="card" ng-hide="bookingHistory.length">
			  <div class="item item-divider" style="text-align : center;">
				 Oops! Nothing to show here
			  </div>
			  <div class="item item-text-wrap" style="text-align : center;">
				Well apparently, you do not have any Bookings till date with ePark. All your present and past bookings are meant to be shown here. It's ok, start booking and enjoy a hassle free parking experience. 
			  </div>
		 </div>	  
       
       <div class="list card" ng-repeat="booking in bookingHistory">
			  <div class="item item-avatar">
				<img src="img/greencar.png">
				<h2>{{booking.formatDate}}</h2>
				<p>
          {{booking.parking_id.name}}
        </p>

			  </div>

			  <div class="item item-body">
						<p style="font-weight : 500; font-size : 16px;">Booking ID : {{booking._id}}</p>
						<ul>
						   <li><span style="font-weight : 500;">Booking Start Time :</span> {{booking.start_time <= 12 ? booking.start_time : booking.start_time - 12}} {{booking.start_time <= 12 ? 'AM' : 'PM'}}</li>
						   <li><span style="font-weight : 500;">Booking End Time :</span> {{booking.start_time+booking.hours <= 12 ? booking.start_time+booking.hours : booking.start_time++booking.hours - 12}} {{booking.start_time+booking.hours <= 12 ? 'AM' : 'PM'}}</li>
						   <li><span style="font-weight : 500;">Booking Span :</span>{{booking.hours}} Hours</li>
						   <li style="margin-top : 2vw;"><span style="font-weight : 500;">Charge :</span> <span style="font-size: 5vw; font-weight: 500; color: brown;">₹ {{booking.parking_id.hourly_price * booking.hours}}</span></li>
						   <!--<li ng-if="showOTPFlag" style="margin-top : 2vw;"><span style="font-weight : 500;">Your OTP :</span> <span style="font-size: 5vw; font-weight: 500; color: brown;">{{userOTP}}</span></li>-->
						</ul>

						<div style="float : right;">Status : <span style="font-size : 20px; color : green;">{{booking.status}}</span></div>
			 </div>
       </div>

	   <!-- <div class="list card">
			  <div class="item item-avatar">
				<img src="img/redcar.png">
				<h2>Monday, 10th July, 2017</h2>
				<p>RDB Cinemas Parking Slot</p>
			  </div>

			  <div class="item item-body">
						<p style="font-weight : 500; font-size : 16px;">Booking ID : KA154321</p>
						<ul>
						   <li><span style="font-weight : 500;">Booking Start Time :</span> 8:00 PM</li>
						   <li><span style="font-weight : 500;">Booking End Time :</span> --:-- PM</li>
						   <li><span style="font-weight : 500;">Booking Span :</span> --.-- Hours</li>
						   <li style="margin-top : 2vw;"><span style="font-weight : 500;">Charge :</span> <span style="font-size: 5vw; font-weight: 500; color: brown;">₹ 0</span></li>
						</ul>

						<div style="float : right;">Status : <span style="font-size : 20px; color : #FF0000;">CANCELLED</span></div>
			 </div>
       </div> -->
   </ion-content>
</ion-view>
