<ion-view view-title="Emergency Contacts">
   <ion-content>
         <div class="card" style="text-align : center;">
			  <div class="item item-text-wrap">
				 In case of any emergency, we have rounded together all the contacts you may need in a single place. No need to copy the numbers, simply tap on the contacts to make the call.
			  </div>
        </div>
		
		<div class="list card">
			  <div class="item item-divider" style="text-align : center;">
				   LalBazaar Traffic Control Room
			  </div>
			  
			  <div class="item item-icon-left" style="white-space : normal;">
				<i class="icon ion-location"></i>
				    Fairley Place, BBD Bagh, Kolkata, West Bengal 700001
			  </div>

			  <a class="item item-icon-left" href="tel: 9830811111">
				<i class="icon ion-social-whatsapp"></i>
				    9830811111
			  </a>
		</div>
		
		<div class="list card">
			  <div class="item item-divider" style="text-align : center;">
				   Bidhannagar Police Commissionerate
			  </div>
			  
			  <div class="item item-icon-left" style="white-space : normal;">
				<i class="icon ion-location"></i>
				    Salt Lake Stadium Gate no. 3, Broadway Rd, JB Block, Sector III, Salt Lake City, Bidhannagar, West Bengal 700039
			  </div>

			  <a class="item item-icon-left" href="tel: 09051213106">
				<i class="icon ion-social-whatsapp"></i>
				    09051213106
			  </a>
		</div>
		
		<div class="list card">
			  <div class="item item-divider" style="text-align : center;">
				   Electronics Complex Police Station
			  </div>
			  
			  <div class="item item-icon-left" style="white-space : normal;">
				<i class="icon ion-location"></i>
				    Salt Lake, DN Block, Sector V, Kolkata, West Bengal 700091
			  </div>

			  <a class="item item-icon-left" href="tel: 03323679779">
				<i class="icon ion-social-whatsapp"></i>
				     03323679779
			  </a>
		</div>
		
		<div class="list card">
			  <div class="item item-divider" style="text-align : center;">
				   Bidhannagar North Police Station
			  </div>
			  
			  <div class="item item-icon-left" style="white-space : normal;">
				<i class="icon ion-location"></i>
				     Salt Lake, Bidhan Nagar, East-PS, Sector II, Kolkata, West Bengal 700091
			  </div>

			  <a class="item item-icon-left" href="tel: 03323373343">
				<i class="icon ion-social-whatsapp"></i>
				    03323373343
			  </a>
		</div>
   </ion-content>
</ion-view>