<ion-view view-title="Frequently Asked Questions">
   <ion-content style="background-color : #FAFAFA;">
       <div class="card">
			  <div class="item item-divider" style="white-space : normal;">
				What is meant by the Beta Phase launch?
			  </div>
			  <div class="item item-text-wrap">
				The ePark system is currently now in a Pilot phase launch in association with the NDITA (Government of West Bengal), WEBEL and the Gitanjali Fee Car Parking Co. Ltd. After this pilot phase, the system will be further tuned and then expanded to other areas as well as per the discussion with the Government Authorities.
			  </div>
		</div>

        <div class="card">
			  <div class="item item-divider" style="white-space : normal;">
				Can anyone download and use this system?
			  </div>
			  <div class="item item-text-wrap">
				Yes, ePark and it's associated system can be used for parking booking by anyone with an Android phone who wishes to park his/her vehicle on the street leading from RS Software to the Wipro More in Sector 5, Salt Lake of Kolkata. You don't need to be anyone special to freely use the app and it's associated benefits.
			  </div>
		</div>  

        <div class="card">
			  <div class="item item-divider" style="white-space : normal;">
				Can the app be used for parking at any other location than that mentioned?
			  </div>
			  <div class="item item-text-wrap">
				For now, No. Since this is a Beta phase launch so as per the directives issued by the concerned Government authorities, the ePark App is now available for use only at the street leading from the RS Software Building to the Wipro More in Sector 5, Salt Lake in Kolkata.
			  </div>
		</div>
 
        <div class="card">
			  <div class="item item-divider" style="white-space : normal;">
				So, do I need to mandatorily download the app to park at this location from now on?
			  </div>
			  <div class="item item-text-wrap">
				Absolutely not. Even if you don't want to use the ePark App but need to park your vehicle at this location only, then don't worry simply reach the location with your vehicle and the attendant will note down your vehicle registration number to start the parking and finish your booking manually via his app when you leave while showing you the online receipt of your parking.
			  </div>
		</div>   
		
		<div class="card">
			  <div class="item item-divider" style="white-space : normal;">
				Why can't I pre-book a slot using the app?
			  </div>
			  <div class="item item-text-wrap">
				Unlike booking a movie-ticket or a bus seat, ePark or any other App/Company/Entity cannot legally allow the pre-booking of parking slots in public areas in compliance to the rules and regulations laid down by the Government and the Judiciary. Hence, parking will only be available on a First-Come-First-Serve basis even if you are an App user.
			  </div>
		</div>   
		
		<div class="card">
			  <div class="item item-divider" style="white-space : normal;">
				Is there any paid or premium account here?
			  </div>
			  <div class="item item-text-wrap">
				No, in ePark every and any account is completely free and no special preference is allowed. Hence, there is no provision of either Premium or Paid Accounts in ePark. Simply reach your parking slot on time and get your vehicle parked without any hassle or bias or paying anything extra to avail the space.
			  </div>
		</div>   
   </ion-content>
</ion-view>