<ion-view view-title="Your Feedback">
   <ion-content style="background-image : url('img/mbg.jpg'); background-repeat: round;">
       <div class="card">
		  <div class="item item-divider" style="text-align : center;">
			  Talk to ePark
		  </div>
		  <div class="item item-text-wrap" style="text-align : center;">
			  If you have any complaints or any good thing to say to us, don't worry feel free to let us know. Just simply enter the Booking ID and let us know your feedback. If there was any mistake on our part, your feedback will help us rectify it. So let's keep talking and make ePark better.
		  </div>
	   </div>
	   
	   <div class="list card" style="margin-top : 2vw;">
			  <label class="item item-input item-stacked-label">
				<span class="input-label">Booking ID</span>
				<input type="text" placeholder="Eg. - 597bb9fb6ca66f0cb7afd7ax" ng-model="feedback.bookingId">
			  </label>
       </div>
	   
	   <div class="list card" style="margin-top : 2vw;">
			  <label class="item item-input item-stacked-label">
				<span class="input-label">Your feedback</span>
				<textarea type="text" placeholder="Write us what you feel here" style="min-height: 10em;" ng-model="feedback.userText"></textarea>
			  </label>
       </div>
	   
	    <div style="text-align : center;">
	       <button class="button button-medium button-positive" ng-click="submitFeedback();">
              <i class="icon ion-android-contacts" style="margin-right : 5px;"></i>Submit your feedback
           </button>
	   </div>
   </ion-content>
</ion-view>