<ion-view hide-nav-bar="true" style="background-image : url('img/bg.jpg'); background-repeat: round;">
   <ion-content>
       <div style="text-align : center; padding-top: 4em; padding-bottom: 3em;">
	       <img src="img/icon.png" style="width : 14%"/>
		   <div style="font-weight : 600; font-size : 4.5em; color : white; font-family: Segoe UI; padding-top: 18px;">ePark</div>
		   <div style="color : white; padding-top: 29px;">Bengal's newest Smart Parking mobile app</div>
	   </div>

        <div class="list card" style="margin-top : 2vw; border-radius: 12px;">
			  <label class="item item-input item-stacked-label">
				<span class="input-label">Mobile Number</span>
				<input type="number" placeholder="+91 1234567890" ng-model="loginDetails.phone">
			  </label>
       </div>

	   <div class="list card" style="border-radius: 12px;">
	       <label class="item item-input item-stacked-label">
				<span class="input-label">Your Password</span>
				<input type="password" placeholder="*************" ng-model="loginDetails.pwd">
			</label>
	   </div>

	   <div style="text-align : center;">
	      <button style="width: 95%; border-radius: 12px;" class="button button-medium button-assertive" ng-click="userLogin()">
		       LOGIN BACK
		  </button>
	   </div>

	   <div style="text-align : center; padding-top : 15px;">
	       <span style="font-family : Segoe UI; color : white; font-size: 15px; font-weight: 500;">Forgot Your Password?</span>
	   </div>
	   
	   <!--
	   <div style="text-align : center;margin-top : 10vw;">
	      <a href="#/register" class="button button-medium button-positive"><i class="icon ion-plus-circled" style="margin-right : 5px;"></i>Create My Account</a>
	   </div>-->
	   
	   <div style="text-align : center; padding-top: 6vw;">
	         <a href="#/register" style="width: 95%; border-radius: 12px;" class="button button-medium button-positive">CREATE MY ACCOUNT</a>
	   </div>
   </ion-content>
</ion-view>
