<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
	  <!--
      <ion-nav-buttons side="right">
        <button class="button button-clear" ng-hide="user.isLoggedIn" ng-click="openLogin()">Login</button>
      </ion-nav-buttons>
	  -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" align-title="center">
      <h1 class="title">ePark Menu</h1>
    </ion-header-bar>
    <ion-content>
	   <div style="text-align : center; margin-top : 5vw; margin-bottom : 4vw;">
	           <img class="image_Profile" src="img/user.png"/>
			   <div style="text-align : center;">
					<h4>{{ user.name }}</h4>
				</div>
				<div style="text-align : center;">
					<h5 style="font-weight : 400;">{{ user.email }}</h5>
					<h5 style="font-weight : 400; margin-top: -6px;">{{ user.vehicle_no }}</h5>
				</div>
		</div>

      <ion-list class="list" style="margin-bottom : 3em;">
			<ion-item menu-close href="#/menu/home">
				 <a class="item-icon-left" style="padding-left : 10vw; text-decoration : none; color : black;" href="#/menu/home">
					<i class="icon ion-home"></i>Home
				</a>
			</ion-item>

		   <ion-item menu-close href="#/menu/profile">
				<a class="item-icon-left" style="padding-left : 10vw; text-decoration : none; color : black;" href="#/menu/profile">
					<i class="icon ion-person"></i>My Profile
				</a>
		   </ion-item>

		   <ion-item menu-close href="#/menu/bookingHistory">
				<a class="item-icon-left" style="padding-left : 10vw; text-decoration : none; color : black;" href="#/menu/bookingHistory">
					<i class="icon ion-clipboard"></i>My Booking History
				</a>
		  </ion-item>

		  <!-- <ion-item menu-close href="#/menu/chat">
				<a class="item-icon-left" style="padding-left : 10vw; text-decoration : none; color : black;" href="#/menu/chat">
					<i class="icon ion-android-hangout"></i>Chat Assistance
				</a>
		  </ion-item> -->

		  <ion-item menu-close href="#/menu/contacts">
				<a class="item-icon-left" style="padding-left : 10vw; text-decoration : none; color : black;" href="#/menu/contacts">
					<i class="icon ion-paper-airplane"></i>Emergency Contacts
			    </a>
		  </ion-item>

		 <ion-item menu-close href="#/menu/feedback">
				<a class="item-icon-left" style="padding-left : 10vw; text-decoration : none; color : black;" href="#/menu/feedback">
					<i class="icon ion-android-bulb"></i>Your Feedback
				</a>
		 </ion-item>
		 <ion-item menu-close href="#/menu/logout">
				<a class="item-icon-left" style="padding-left : 10vw; text-decoration : none; color : black;" href="#/menu/logout">
					<i class="icon ion-log-out"></i>Logout
				</a>
		 </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
