<ion-modal-view>
  <ion-header-bar class="bar-stable">
	  <h4 style="margin-left: 3vw;">Booking Request Confirmed</h4>
  </ion-header-bar>
  <ion-content>
    <!--
	<div class="card">
      <div class="item item-divider">
        <i class="icon ion-checkmark"></i> Confirmed
      </div>
      <div class="item item-body">
        <p>OTP: {{ bookingDetails.otp.value }}</p>
        <p> Your booking is confirmed. Please show the otp to the parking operator</p>
      </div>
      <div class="item item-divider">
        <button class="button button-positive" ng-click="gotoHome()">Done</button>
      </div>
    </div>
	-->

	<div class="list card successCard">
		  <div class="item item-divider" style="text-align : center;">
			  Your Booking Details
		  </div>

		  <div class="item item-icon-left" style="white-space : normal;">
			<i class="icon ion-calendar"></i>Booking Date : <span style="color : chocolate;">{{formattedDate}}</span>
		  </div>
		  
		  <div ng-if="showOtherBookingFlag" class="item item-icon-left" style="white-space : normal;">
			<i class="icon ion-person-add"></i>Vehicle Registration (since this wasn't your vehicle) : <span style="color : chocolate;">{{otherVehicleReg}}</span>
		  </div>

		  <div class="item item-icon-left item-icon-right" style="white-space : normal;">
			<i class="icon ion-clock"></i>Start Time : <span style="color : chocolate;">{{formattedTime}}</span>
		  </div>

		  <div class="item item-icon-left item-icon-right" style="white-space : normal;">
			<i class="icon ion-android-watch"></i>Booking Span : <span>{{bookingDetails.hours}} Hour(s)</span>
		  </div>

		  <div class="item item-icon-left item-icon-right" style="white-space : normal;">
			<i class="icon ion-android-wifi"></i>Sensor Slot ID : <span>P{{bookingDetails.slot}}</span>
		  </div>

		  <div class="item item-icon-left item-icon-right" style="white-space : normal;">
			<i class="icon ion-android-star"></i>Your OTP : <span style="color : green; font-size : 20px; font-weight : 500;">{{bookingDetails.otp.value}}</span>
		  </div>
    </div>

	<div class="card">
		  <div class="item item-text-wrap" style="text-align : center;">
			  Your Booking has been confirmed at the Parking Slot. Kindly please reach the slot within 1 Hour. On reaching, tell this OTP of <span style="color : maroon; font-size : 20px; font-weight : 500;">{{bookingDetails.otp.value}}</span> to the Parking Operator to start your Booking at that slot.

		      <div style="text-align : center; margin-top : 10px;">
		          <button class="button button-medium button-positive" ng-click="gotoHome()">Ok, understood</button>
		      </div>
		  </div>
    </div>
  </ion-content>
</ion-modal-view>
