<ion-modal-view>
  <ion-header-bar class="bar-dark">
	  <h4 style="margin-left: 3vw; color : white; margin-top : 3px;">
	      <img src="img/green.png" style="width : 7%;"/>
		  <div style="margin-left : 10vw; margin-top : -30px;">Reset Your Password</div>
		  <div class="buttons" style="float : right; margin-top : -25px;">
		       <button class="button button-icon icon ion-close-circled" ng-click=""></button>
		  </div>
	  </h4>
  </ion-header-bar>
  
  <ion-content style="background-color : #F0F0F0;">
        <div class="list card" style="border-radius: 12px;">
			  <label class="item item-input item-stacked-label">
					<span class="input-label">Your registred email address</span>
					<input type="email" placeholder="john.doe@domain.com" ng-model=""/>
			  </label>
       </div>
	   
	   <div style="text-align : center;">
	      <button style="width: 95%; border-radius: 12px;" class="button button-medium button-positive" ng-click="">
		       SEND PASSWORD RESET LINK
		  </button>
	   </div>
  </ion-content>
</ion-modal-view>
