<ion-bottom-sheet-view>
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">{{selectedParking.name}}</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-circled" ng-click="parkingInfoModal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
		<div class="list card">
		  <div class="item item-divider">
			     {{selectedParking.number_of_slot - selectedParking.booked_slot}} slots available
		  </div>
		  <div class="item">
        <h2>Opening Hours</h2>
        <p style="font-size: 16px;color: chocolate;">
          {{selectedParking.opening_hours.start <= 12 ? selectedParking.opening_hours.start + 'am' : (selectedParking.opening_hours.start - 12) + 'pm'}} - {{selectedParking.opening_hours.end <= 12 ? selectedParking.opening_hours.end + 'am' : (selectedParking.opening_hours.end-12) + 'pm'}}
          <span class="item-note" style="color : green; font-size : 16px;">&#8377;&nbsp;{{selectedParking.hourly_price}}/hour</span>
        </p>
		  </div>
      <div class="item item-divider">
        <i class="icon ion-android-car" style="font-size: 20px;"></i>&nbsp;
        <span>{{selectedParking.distance}} (approx {{selectedParking.duration}})</span> from selected location
      </div>
		</div>

	    <!-- <div style="text-align : center;">
		   <a href="#/menu/slotBooking" class="button button-medium button-balanced" style="margin-right : 2vw;"><i class="icon ion-android-car" style="margin-right : 5px;"></i>Book Now</a>
		   <a href="#/menu/slotBooking" class="button button-medium button-assertive"><i class="icon ion-android-alarm-clock" style="margin-right : 5px;"></i>Book Later</a>
		</div> -->
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-medium button-balanced" ng-click="bookNow()"><span style="font-size: 16px;font-weight: 500;">Book Now</span></button>
    </div>
  </ion-footer-bar>
</ion-bottom-sheet-view>
