<ion-bottom-sheet-view>
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">{{selectedParking.name}}</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-circled" ng-click="parkingInfoModal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        {{selectedParking.parking_slot - selectedParking.booked_slot}} slots available
      </div>
      <div class="item">
        <h2>Opening Hours</h2>
        <p>
          {{selectedParking.opening_hours.start <= 12 ? selectedParking.opening_hours.start + 'am' : (selectedParking.opening_hours.start - 12) + 'pm'}} - {{selectedParking.opening_hours.end <= 12 ? selectedParking.opening_hours.end + 'am' : (selectedParking.opening_hours.end-12) + 'pm'}}
          <span class="item-note">&#8377;&nbsp;{{selectedParking.hourly_price}}/hour</span>
        </p>
      </div>
      <div class="item item-divider">
        <i class="icon ion-android-car" style="font-size: 20px;"></i>&nbsp;
        <span>{{selectedParking.distance}}, {{selectedParking.duration}}</span>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <a href="#" class="button button-stable">Book Later</a>
      <a href="#" class="button button-positive">Book Now</a>
    </div>
  </ion-footer-bar>
</ion-bottom-sheet-view>
