<ion-bottom-sheet-view>
  <ion-header-bar align-title="left" class="bar-dark">
    <h1 class="title">{{selectedParking.name}}</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-circled" ng-click="parkingInfoModal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content style="background-image : url('img/mbg.jpg'); background-repeat: round;">
       <div class="list card">
                  <div class="item item-divider" style="text-align : center;">
					Operating Hours : <span style="color : black; font-size : 16px;">{{selectedParking.opening_hours.start <= 12 ? selectedParking.opening_hours.start + 'am' : (selectedParking.opening_hours.start - 12) + 'pm'}} - {{selectedParking.opening_hours.end <= 12 ? selectedParking.opening_hours.end + 'am' : (selectedParking.opening_hours.end-12) + 'pm'}}</span>
				  </div>

				  <div class="item item-icon-left">
					<i class="icon ion-android-bicycle"></i>
					 <span style="font-size: 18px;">{{selectedParking.number_of_slot.two}}</span> <span style="">slots available</span><span style="color : green; font-size: 16px; float: right; font-weight: bold;">₹{{selectedParking.fare.two}}/hour</span>
				  </div>

				  <div href="#" class="item item-icon-left">
					<i class="icon ion-android-car"></i>
					 <span style="font-size: 18px;">{{selectedParking.number_of_slot.four}}</span> <span style="">slots available</span><span style="color : green; font-size: 16px; float: right; font-weight: bold;">₹{{selectedParking.fare.four}}/hour</span>
				  </div>

				  <div href="#" class="item item-icon-left" style="white-space : normal;">
					<i class="icon ion-android-pin"></i>
					  <span style="font-weight: bold; font-size: 16px;">{{selectedParking.distance}}</span> (around {{selectedParking.duration}}) from your device location
				  </div>
       </div>

		<!--
		<div class="list card">
		  <div class="item item-divider">
			     <i class="icon ion-android-car" style="font-size: 20px;"></i>&nbsp;<span style="color: green; padding-right: 5px;">{{selectedParking.number_of_slot.four}}</span>
           <i class="icon ion-android-bicycle" style="font-size: 20px;"></i>&nbsp;<span style="color: green">{{selectedParking.number_of_slot.two}}</span>
		  </div>
		  <div class="item">
        <h2>Opening Hours</h2>
        <p style="font-size: 16px;color: chocolate;">
          {{selectedParking.opening_hours.start <= 12 ? selectedParking.opening_hours.start + 'am' : (selectedParking.opening_hours.start - 12) + 'pm'}} - {{selectedParking.opening_hours.end <= 12 ? selectedParking.opening_hours.end + 'am' : (selectedParking.opening_hours.end-12) + 'pm'}}
          <div class="item-note" style="color : green; font-size : 16px;"><i class="icon ion-android-car" style="font-size: 20px;"></i>&nbsp;&#8377;&nbsp;{{selectedParking.fare.four}}/hour</div>
          <div class="item-note" style="color : green; font-size : 16px; padding-right:10px;"><i class="icon ion-android-bicycle" style="font-size: 20px;"></i>&nbsp;&#8377;&nbsp;{{selectedParking.fare.two}}/hour</div>
        </p>
		  </div>
      <div class="item item-divider">
        <i class="icon ion-android-car" style="font-size: 20px;"></i>&nbsp;
        <span>{{selectedParking.distance}} (approx {{selectedParking.duration}})</span> from selected location
      </div>
		</div>
      -->
  </ion-content>
  <ion-footer-bar style="background-color : black;">
    <div class="button-bar">
      <button class="button button-block button-royal" style="font-size:16px; font-weight: 500; border-radius: 0px; margin-top : 2px;" ng-click="nav()">NAVIGATE TO HERE</button>
      <!--<button class="button button-medium button-calm" style="border-radius: 6px;" ng-click="bookNow()"><span style="font-size: 16px;font-weight: 500;">Book Now</span></button> -->
    </div>
  </ion-footer-bar>
</ion-bottom-sheet-view>
