<ion-view title="Register">
  <ion-content>
    <form class="">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Enter Your Name" ng-model="reg.name" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Phone Number</span>
          <input type="text" placeholder="Enter Phone Number" ng-model="reg.phone" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Vehicle Number</span>
          <input type="text" placeholder="Vehicle Registration Number" ng-model="reg.number" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Give Password" ng-model="reg.pwd" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create Account</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
