/* Empty. Add your own CSS if you like */

/* ***************** CSS CLASS FOR THE MENU IMAGE START ********************** */
.image_Profile{
    height: 24vw; 
    width: 24vw; 
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
}
/* ***************** CSS CLASS FOR THE MENU IMAGE END ************************ */

.scroll{
  height: 100%;
}

#map{
  width: 100%;
  height: 100%;
}

#searchTextField{
    width: 100%;
    padding: 10px;
    height: 50px;
    font-size: 16px;
}

#parkSearch{
  right: 0px;
  margin: 0px;
}

.modal.bottom-sheet {
  bottom: 0;
  min-height: initial;
  top: initial;
  height: 50%;
  border-width: 1px;
  border-style: solid;
}

div#info {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: cornflowerblue;
    margin: 20px;
    font-size: 16px;
}
